:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(51, 46, 46, 0.87);
  background-color: #474646;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul li a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

ul li a:hover {
  color: #535bf2;
}

div h2 {
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  color: #23135e;
  line-height: 2.2;
}

form input {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #276194;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1%;
  outline: none;
}

form input:hover {
  border-color: #1e3fe6;
}

form input:focus {
  border-color: #1e3fe6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

form button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  margin-left: 0.8em;;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #276194;
  cursor: pointer;
  transition: border-color 0.3s;
  display: inline-block;
}

form button:hover {
  border-color: #646cff;
}
form button:focus,
form button:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}

div ul li {
  list-style: none;
  text-decoration: none;
  color: rgba(210, 88, 88, 0.87);
  text-align: left;
  border-radius: 7px;
  border: 1px solid transparent;
  padding: 0.3em 0.8em;
  font-size: 1em;
  font-weight: 150;
  font-family: inherit;
  background-color: #accae4;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1%;
}

div ul li:hover {
  border-color: #9ec7eb;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #363434;
  }
  a:hover {
    color: #202ae9;
  }
  button {
    background-color: #202c5c;
  }
}



